#painel1-title {
    color: white;
    font-family: 'Spectral', serif;
    font-size: 5vw;
    padding-left: 2vw;
  }
  
#painel1-text {
    padding-left: 2vw;
    color: white;
    font-family: 'Spectral', serif;
    font-size: 3vw;
  }
  
