/* Footer.css */

.footer {
    font-family: 'Spectral', serif;
    color: #000000;
  }
  

  
  
  .footer-heading {
    padding-top: 2vw;


    font-size: 18px;
    font-weight: bold;
    margin-bottom: 10px;
  }
  
  .footer-links,
  .footer-contact {
    list-style: none;
    padding: 0;
    margin: 0;
    padding-bottom: 2vw;
  }
  
  .footer-links li,
  .footer-contact li {
    margin-bottom: 5px;
  }
  
  .social-icon {
    width: 24px;
    height: 24px;
    margin-right: 10px;
    
}
  
#nome{

  padding-top: 3vw;

}

.tagline {
  font-size: 14px;
  opacity: 0.8;
  margin-bottom: 20px;
}